DB_DRIVER=org.postgresql.Driver
DB_URL=BD_URL
DB_PASSWORD=DB_PASSWORD
API_KEY=API_KEY
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:80,http://localhost:5173,https://localhost:5173,http://localhost:4173,https://localhost:4173
#Para criar um banco temporário H2, basta modificar para true - não recomendado
APP_SEED_ENABLED=false
